body{
  background-color: blueviolet;
}
body{
  background-color: aquamarine;
}body{

} 
}.rectangle 
div{
  background-color: coral;
  margin: 10px;
  border: 5px antiquewhite
  padding: 10px;
  
  

}